
# Logging
LOG_LEVEL=DEBUG
LOG_FORMAT="[%(asctime)s] #%(levelname)-8s %(filename)s:%(lineno)d - %(name)s - %(message)s"

# Bot
BOT_TOKEN=
ADMIN_IDS=

# PostgreSQL
POSTGRES_DB=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=1234

# PgAdmin
PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=1234
PGADMIN_PORT=5050

# полностью отключить проверку
VALIDATOR_ENABLED=True

# полностью пропустить валидатор
VALIDATOR_BYPASS=False

# использовать резервную модель первого порядка
VALIDATOR_FIRST_ORDER=True

# файл обучения
VALIDATOR_TRAIN_FILE=C:\Users\vladi\source\repos\bot_for_complains\bot_for_complains\config\data\train.txt

# пороги
VALIDATOR_SECOND_ORDER_THRESHOLD=0.18
VALIDATOR_FIRST_ORDER_THRESHOLD=0.08

VALIDATOR_RETRAIN_ON_START=True
RETRAIN_AFTER_CHANGES=10